---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import AgentRow from "../components/AgentRow.astro";
import ScreenshotFrame from "../components/ScreenshotFrame.astro";
import Remote from "../components/Remote.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <AgentRow />
    <ScreenshotFrame />
    <Remote />
    <Testimonials />
  </main>
  <Footer />
</Layout>
