---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ScreenshotFrame from "../components/ScreenshotFrame.astro";
import Features from "../components/Features.astro";
import Agents from "../components/Agents.astro";
import Shortcuts from "../components/Shortcuts.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <ScreenshotFrame />
    <Features />
    <Agents />
    <Shortcuts />
  </main>
  <Footer />
</Layout>
